html, body, #root {
    height: 100%;
}

.wrapper {
    padding: 10vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.buttons {
    display: flex;
    gap: 1rem;
}