$family-sans-serif: Roboto, Helvetica, Arial, sans-serif;
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
//$primary: #6A1B9A;

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

@import "~bulma/bulma";

.section {
  padding: 2rem 3rem;
}

.custom-table {
  thead {
    background: $info;
    th {
      color: $light;
      font-weight: 100;
    }
  }
}