.container {
	display: flex;
	list-style: none;
	gap: 2rem;
	padding: 0
}

.item {
	border-bottom: 2px solid transparent;
	padding: 1rem 2rem;
	cursor: pointer;
}

.item:hover {
	background: rgba(0,255,0, 0.1);
}

.active {
	border-bottom: 2px solid green;
}