.app {
    padding: 4rem 4rem;
    margin: 0;
}

.section {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    gap: 0.5rem;
}

.actions button {
    border: 1px solid gray;
    font-size: 1rem;
}