$family-sans-serif: Roboto, Helvetica, Arial, sans-serif;
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
//$primary: #6A1B9A;

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

@import "~bulma/bulma";

.calendar {
	width: 100%;

	&__table {
		width: 100%;
	}

	&__header-column {
		background-color: $info;
		color: $light;
		font-weight: 100;
    	padding: 0.5rem;
	}
}